@model system_core_with_authentication.Models.RepositionStock

@{
    ViewData["Title"] = "Modificar";
}

<div class="row">
    <div class="col-xs-12 small">
        <div class="card card-table">
            <div class="container">
                <h4>Usuario: @Html.DisplayFor(model => Model.Request.User)</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Medicamento
                            </th>
                            <th>
                                Cantidad Actual
                            </th>
                            <th>
                                Cantidad Solicitada
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model.RepositionStockDetailed)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => a.Medicament.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.CurrentStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.RequestStock)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>



                <form asp-action="ChangeSolved">
                    <div class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <input asp-for="Solved" />
                                    <label asp-for="Solved"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>

                
                </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a asp-action="ShowAllRequests" class="btn btn-info btn-xs">Back to List</a>
</div>