@{
    ViewData["Title"] = "Requests";
    ViewBag.Menu = "Requests";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">
                    Solicitudes
                </div>
            </div>
            <div class="card card-body no-padding">
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Reposicion de Medicamento</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Cambio de turno</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Breastfeeding</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Permiso</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Allowance without payment</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Vacaciones</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Maternidad</a>
                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Viaticos</a>

            </div>
        </div>
    </div>
</div>

               
