@{
    ViewData["Title"] = "Requests";
    ViewBag.Menu = "Requests";
}

<div class="row">
    <div class="col-xs-4 small">
        <div class="card card-table">
            <div class="container">

                <h2>Requests</h2>

                <br />

                <a class="btn btn-default btn-xs" asp-controller="Requests" asp-action="CreateReposition">Medicament Reposition</a>

                

                </div>

            <br /> <br />
            </div>
        </div>
    </div>

               
