@{
    ViewData["Title"] = "Solicitudes";
    ViewBag.Menu = "Requests";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card card-mini">
            <div class="card-header">
                <div class="card-title">
                    Solicitudes
                </div>
            </div>
            <div class="card card-body">
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Reposicion de Medicamento</a>    </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="r_Shift_Change">Cambio de turno</a>                </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="r_BreastFeeding">Amamantamiento</a>                </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Permiso</a>                      </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Allowance without payment</a>    </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Vacaciones</a>                   </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Maternidad</a>                   </div>
                <div><a class="btn btn-success btn-xs" asp-controller="Requests" asp-action="CreateReposition">Viaticos</a>                     </div>
            </div>
        </div>
    </div>
</div>

               
