@model system_core_with_authentication.Models.RepositionStock

@{
    ViewData["Title"] = "ViewRepositionDetails";
}

<div class="row">
    <div class="col-xs-12">
        <div class="card card-table">
            <div class="container">
                <h4>Usuario: @Html.DisplayFor(model => Model.Request.User)</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Medicamento
                            </th>
                            <th>
                                Cantidad Actual
                            </th>
                            <th>
                                Cantidad Solicitada
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var a in Model.RepositionStockDetailed)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => a.Medicament.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.CurrentStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => a.RequestStock)
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                </div>
            </div>
    </div>
</div>


<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a asp-action="ShowAllRequests" class="btn btn-info btn-xs">Back to List</a>
</div>

