@model system_core_with_authentication.Models.Medicament

@{
    ViewData["Title"] = "Edit Medicament";
    ViewBag.Menu = "Medicaments";
}

<div class="container col-sm-6 pull-right" style="width:1000px;">

    <div class="card card-banner card-header">

        <div class="col-sm-10">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">

                    <br />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Priority" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Priority" class="form-control" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Counter" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Counter" class="form-control" />
                            <span asp-validation-for="Counter" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinimumStock" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="MinimumStock" class="form-control" />
                            <span asp-validation-for="MinimumStock" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Image</label>
                        <div class="col-md-10">
                            <input type="file" name="ImageFile" />
                            <span asp-validation-for="MedicamentImage" class="text-danger"></span>
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>


            </div>
        </div>
    </div>

            

            <div>
                <a style="margin-left:10px;" class="btn btn-info btn-xs" asp-action="Index">Back to Medicament List</a>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
