@{
    ViewData["Title"] = "Inicio";
    ViewBag.Menu = "Dashboard";
}

@*<div class="row">
    <div class="col-xs-12">
        <div class="card card-banner card-chart card-green no-br">
            <div class="card-header">
                <div class="card-title">
                    <div class="title">REFRESH INFO</div>
                </div>
                <ul class="card-action">
                    <li>
                        <a href="/">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="ct-chart-sale"></div>
            </div>
        </div>
    </div>
</div>*@
@if (User.Identity.IsAuthenticated){
        Html.RenderPartial("Summary");
        Html.RenderPartial("MostRequestedItem");
}