<div class="btn-floating" id="help-actions">
    <div class="btn-bg"></div>
    <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
        <i class="icon fa fa-plus"></i>
        <span class="help-text">Shortcut</span>
    </button>
    <div class="toggle-content">
        <ul class="actions">
            <li><a asp-controller="Medicaments" asp-action="Create">Medicament</a></li>
            <li><a asp-controller="Requests" asp-action="CreateReposition">Request</a></li>
            <li><a asp-controller="Stocks" asp-action="Create">Stock</a></li>
            <li><a asp-controller="User" asp-action="Create">User</a></li>
        </ul>
    </div>
</div>