@using Microsoft.AspNetCore.Identity
@using system_core_with_authentication.Models

@*

TODO: 

*@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-collapse collapse in">
                <ul class="nav navbar-nav navbar-mobile">
                    <li>
                        <button type="button" class="sidebar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li class="logo">
                        <a class="navbar-brand" href="#"><span class="highlight">TyG Medical</span></a>
                    </li>
                    <li>
                        <button type="button" class="navbar-toggle">
                            <img class="profile-img" src="~/users/uploads/@UserManager.GetUserId(User)/photo.png">
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title">@ViewData["Title"]</li>
                    @*<li class="navbar-search hidden-sm">
                            <input id="search" type="text" placeholder="Search..">
                            <button class="btn-search"><i class="fa fa-search"></i></button>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown profile">
                        <a href="/html/pages/profile.html" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="icon">
                                <i class="fa fa-user" aria-hidden="true"> </i>
                            </div>
                            @*<img class="profile-img" src="~/users/uploads/@UserManager.GetUserId(User)/photo.png">*@
                            <div class="title">Perfil</div>
                        </a>
                        <form method="post" asp-controller="Account" asp-action="Logout" id="logoutForm">
                            <div class="dropdown-menu">
                                <div class="profile-info">
                                    <h4 class="username">@UserManager.GetUserName(User)</h4>
                                </div>

                                <ul class="action">
                                    <li>
                                        <a style="padding-left: 30px;" method="post" asp-action="Profile" asp-controller="Users" asp-route-id="@UserManager.GetUserId(User)"> Perfil </a>
                                    </li>

                                    <li>
                                        <a style="padding-left: 30px;" asp-action="Index" asp-controller="Files"> Archivos </a>
                                    </li>

                                    <li>
                                        <button class="btn btn-link pull-left" type="submit" value="Logout"> Salir </button>
                                    </li>
                                </ul>

                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <div class="navbar-collapse collapse in">
                <ul class="nav navbar-nav navbar-mobile">
                    <li>
                        <button type="button" class="sidebar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li class="logo">
                        <a class="navbar-brand" href="#"><span class="highlight">Flat v3</span> Admin</a>
                    </li>
                    <li>
                        <button type="button" class="navbar-toggle">
                            <img class="profile-img" src="./assets/images/profile.png">
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-title">@ViewData["Title"]</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
}
