@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="app app-container app-login-page">
    <div class="row">
        <div style="padding-top: 10%; align-items:center" class="col-xs-12">
            <div class="card card-table card-banner" style="width:300px; margin:auto; padding:30px; ">
                <div class="card-header"><img src="~/images/logo.jpg" alt="TyG Medical Logo" class="center-block"/></div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-horizontal">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            <input asp-for="Email" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon2">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="text-center">
                                <button class="btn btn-success btn-submit">Ingresar</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>
                                <a hidden asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                            </p>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
